# Ignore system & config files
../*
!./*

# Ignore macOS & IDE files
.DS_Store
*.log

# Ignore Python or Jupyter
__pycache__/
.ipynb_checkpoints/
*.pyc
.env

# Ignore node/npm
node_modules/

# Ignore JetBrains/VSCode settings
.idea/
.vscode/
